.form-control {
    margin-bottom: 16px;
    padding-bottom: 15px;
    padding-top: 17px;
    position: relative;

    input {
        border: none;
        border-bottom: 1px solid var(--color-blue);
        font-size: 13px;
        outline: none;
        padding-bottom: 7px;
    }
}

.input-error {
    color: red;
    font-size: .8rem;
    font-weight: 300;
}
