.add-user {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;

    
    &__card {
        display: flex;
        margin: 5px 0;
        cursor: pointer;
    }
    .select-user {
        width: 10px;
        margin-right: 10px;
    }
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    .search-button {
        cursor: pointer;
        border: none;
        height: 30px;
        border-radius: 8px;
        background-color: #EAEAEA;
    }
}

h4 {
    color: var(--color-text-gray);

}
