<div class="container centered">
    <form class="login-form card">
        <h3>Log in</h3>
        <div class="inputs">
            <div class="form-control">
                <input class="full-width" type="text" name="login" id="login" placeholder="Login">
            </div>
            <div class="form-control">
                <input class="full-width" type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>

        <div class="buttons">
            {{> Button text="Continue" type="submit" classes="button full-width primary"}}
        </div>
            {{> Button text="Create an account" type="button" href="/signup" classes="button full-width link"}}
    </form>
</div>
