.button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;

    &.primary {
        width: 100%;
        background: var(--color-blue);
        color: var(--color-white);
        font-size: 13px;
        transition: 0.3s background;

        &:hover,
        &:focus {
            background: var(--color-dark-blue);
        }
    }

    // &.link {
    //     background: transparent;
    //     color: var(--color-blue);
    //     font-size: 11px;
    //     transition: 0.3s color;

    //     &:hover,
    //     &:focus {
    //         color: var(--color-dark-blue);
    //     }
    // }
}
