<div class="container centered">
    <form class="login-form card">
        <h3>Registration</h3>
        <div class="inputs">
            <div class="form-control">
                <input class="full-width" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-control">
                <input class="full-width" type="text" name="login"  placeholder="Login">
            </div>
            <div class="form-control">
                <input class="full-width" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-control">
                <input class="full-width" type="text" name="lastname" placeholder="Last name">
            </div>
            <div class="form-control">
                <input class="full-width" type="tel" name="phone" placeholder="Phone">
            </div>
            <div class="form-control">
                <input class="full-width" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-control">
                <input class="full-width" type="password" name="password" placeholder="Repeat password">
            </div>
        </div>

        <div class="buttons">
            {{> Button text="Save" type="submit" classes="button full-width primary"}}
        </div>
        {{> Button text="Log in" type="button" href="/login" classes="button full-width link"}}
    </form>
</div>
