<div class="profile__page">
    <a href="/chats" class="profile__back-button">
        <div class="profile__back-icon">
            {{!-- <img src="#"/> --}}
        </div>
    </a>
    <div class="profile__main-content">
        <form class="profile__card">
            <label class="profile__avatar" for="change-avatar">
                {{!-- <img src="#" /> --}}
            </label>
            <input type="file" id="change-avatar" name="avatar" />
            <h3 class="profile__name">My profile</h3>

            <div class="profile__personal-data">
                {{#each profileData}}
                <div class="profile__field">
                    <div class="profile__field-caption">{{this.key}}</div>
                    <div class="profile__field-value">{{this.value}}</div>
                </div>
                {{/each}}
            </div>

            <div class="profile__controls">
                <div class="profile__field">
                    {{> button href="#" class="profile__controls-link" text="Edit"}}
                </div>

                <div class="profile__field">
                    {{> button href="#" class="profile__controls-link" text="Change password"}}
                </div>

                <div class="profile__field">
                    {{> button href="/login" class="profile__controls-link profile__controls-link_red" text="Log out"}}
                </div>
            </div>
        </form>
    </div>
</div>
