<div class="profile__page">
    <a href="/chats" class="profile__back-button">
        <div class="profile__back-icon"></div>
    </a>
    <div class="profile__main-content">
        <form class="profile__card">
            <label class="profile__avatar" for="change-avatar">
                <img src="{{avatar}}" />
            </label>
            <input type="file" id="change-avatar" name="avatar" />
            <h3 class="profile__name"></h3>

            <div class="profile__personal-data">
                {{#each profileData}}
                <div class="profile__field">
                    <div class="profile__field-caption">{{this.key}}</div>
                    <div class="profile__field-value">{{this.value}}</div>
                </div>
                {{/each}}
            </div>

            <div class="profile__controls">
                <div class="profile__field">
                    <a href="#" class="profile__controls-link">Edit</a>
                </div>

                <div class="profile__field">
                    <a href="#" class="profile__controls-link">Change password</a>
                </div>

                <div class="profile__field">
                    <a href="/" class="profile__controls-link profile__controls-link_danger">Log out</a>
                </div>
            </div>
        </form>
    </div>
</div>
