@import url("variables.scss");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('../components/button/button.scss');
@import url('../components/link/link.scss');
@import url('../components/input/input.scss');
@import url('../components/chat/sidebar/sidebar.scss');
@import url('../components/chat/chatListItem/chatListItem.scss');
@import url('../components/chat/dialogPanel/dialog.scss');
@import url('../components/avatar/avatar.scss');
@import url('../components/profileAvatar/profileAvatar.scss');
@import url('../components/chat/messageCard/messageCard.scss');
@import url('../components/createChat/createChat.scss');
@import url('../components/modal/modal.scss');
@import url('../pages/auth/auth.scss');
@import url('../pages/profile/profile.scss');
@import url('../pages/chats/chats.scss');
@import url('../pages/errors/404/404.scss');



* {
  box-sizing: border-box;
  font: 500 13px/13px Inter, sans-serif;
}

body {
  margin: 0;
}

h3 {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 500;
}

form {
  margin-block-end: 0;
}

input {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  
  &.centered {
    align-items: center;
    justify-content: center;
  }
}

.card {
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 0 6px var(--color-shadow);
  padding: 30px;
}
