:root {
    --color-white: #ffffff;
    --color-black: #1e1e1e;
    --color-gray: #fbfbfb;
    --color-dark-gray: #efefef;
    --color-blue: #3369F3;
    --color-dark-blue: #1f4ec7;
    --color-red: #FF2F2F;
    --color-dark-red: #f10000;
    --color-shadow: rgba(0, 0, 0, 0.2)
}
