<div class="container centered">
    <div class="error-page">
        <div class="error-page__code">{{code}}</div>
        <div class="error-page__message">{{message}}</div>
        {{> Button text="Back to chats" href="/chats" classes="button link"}}
    </div>
</div>
