<div class="container centered">
    <div class="error-page">
        <div class="error-page__code">{{code}}</div>
        <div class="error-page__message">{{message}}</div>
        {{> button href="/chats" class="button link" text="Back to chats"}}
    </div>
</div>
