.chat {
    color: var(--color-bg-gray);

    &__main-screen {
        flex-grow: 1;
    }
    &__container {
        display: flex;
        height: 100vh;
    }
    &__sidebar {
        background: #FBFBFB;
        border-right: 1px solid #EAEAEA;
        width: 310px;
    }

}
