.form-control {
    position: relative;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 16px;

    input {
        border: none;
        border-bottom: 1px solid var(--color-blue);
        outline: none;
        font-size: 13px;
        padding-bottom: 7px;
    }
}
