.chat-list {
    &__search {
        background: #EFEFEF;
        border: none;
        border-radius: 5px;
        display: block;
        font-size: 12px;
        margin: 5px 10px;
        outline: none;
        padding: 10px;
        text-align: center;
        width: calc(100% - 20px);

        &:focus,
        &.not-empty {
            padding-left: 34px;
            text-align: left;

            &+img {
                left: 20px;
            }
        }

        &::placeholder {
            color: var(--color-text-gray);
        }

        &-container {
            position: relative;

            img {
                left: calc(50% - 38px);
                position: absolute;
                top: 10px;
            }
        }
    }

    &__items {
        margin: 0;
        padding: 0;
    }

    &__header {
        display: flex;
        flex-direction: column;

        .actions-container {
            display: flex;
            gap: 40%;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
        }
    }
}

