.chat-list {
    &__search {
        background: #EFEFEF;
        border: none;
        border-radius: 5px;
        display: block;
        font-size: 12px;
        margin: 5px 10px;
        // margin-bottom: 4px;
        outline: none;
        padding: 10px;
        text-align: center;
        width: calc(100% - 20px);

        &:focus,
        &.not-empty {
            padding-left: 34px;
            text-align: left;

            &+img {
                left: 20px;
            }
        }

        &::placeholder {
            color: var(--color-text-gray);
        }

        &-container {
            position: relative;

            img {
                left: calc(50% - 38px);
                position: absolute;
                top: 10px;
            }
        }
    }
    &__items {
        margin: 0;
        padding: 0;
    }
    &__header {
        display: flex;
        flex-direction: column;

        .actions-container {
            display: flex;
            justify-content: space-between;
            gap: 40%;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    // &-item {
    //     cursor: pointer;
    //     display: grid;
    //     gap: 4px 10px;
    //     grid-template:
    //         "avatar name time" auto
    //         "avatar message ." auto
    //         "avatar message counter" auto / 50px 1fr 50px;
    //     margin-bottom: 4px;
    //     margin-top: 2px;
    //     padding: 10px;
    //     position: relative;
    //     height: 67px;
    //     &:hover,
    //     &:focus {
    //         background: #e4edfd;
    //     }

    //     &::before,
    //     &:last-child::after {
    //         background: #EAEAEA;
    //         content: "";
    //         height: 1px;
    //         left: 10px;
    //         position: absolute;
    //         right: 10px;
    //         top: -2px;
    //     }

    //     &:last-child {
    //         margin-bottom: 2px;

    //         &::after {
    //             bottom: -2px;
    //             top: auto;
    //         }
    //     }


}
